body{
   font-family:verdana,arial;
   width:50%;
   margin:0 auto;
   max-width:750px;
   min-width:480px;
   background-image:linear-gradient(rgb(15, 15, 224),rgb(22, 115, 177),rgba(18, 178, 241, 0.801));
}

.numChances{
    color:white;
    padding:7px;

}

.Vezes{
    color:white;
    padding:7px;
}

#jogar{
    background-color: rgb(10, 10, 128);
    color:rgb(175, 207, 255);
    width:350px;
    height:50px;
    border-radius:25px;
    font-size:30px;
    border-style:none;
    margin-top:50px;
}

#txtNumero{
    color:rgb(65, 0, 243);
    width:550px;
    height:100px;
    border-style:none;
    border:5px solid rgb(30, 86, 109);
    font-size:45px;
    margin-top:25px;
}

#labelNumero{
    font-size:55px;
    margin-top:90px;
}

#envelope {
    box-sizing:border-box;
    width:750px;
    height:750px;
    background-color:#27078094;
    color:white;
    text-align:center;
}

h1{
    background-color:rgb(3, 26, 56);
    color:rgb(129, 153, 221);
    width:750x;
    text-align:center;
}

p{
    font-size:20px;
    text-align:center;
}